venv/
env/
__pycache__/
.DS_Store
NPSC_1/
nb_samtale/

NPSC/

result/beam_npsc_experiment_23_llm.json
result/beam_npsc_experiment_26_llm.json
result/beam_npsc_experiment_26_llm.json
result/npsc_samtale_experiment_23_llm.json
